# 가설
- 아이템의 카테고리별로 월별 판매량이 다를것이다
- 가게별로 아이템의 평균 가격이 다를것이다.가격에 따라 판매량에 차이가 있을것이다.
- 피쳐의 수를 간추리면 결과예측에 긍정적인 영향을 미칠것이다.

# Import data

In [465]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
from googletrans import Translator

In [466]:
df_test = ("../files/test.csv")
df_train = ("../files/sales_train_v2.csv")

df_test = pd.read_csv(df_test, sep = ",") #(214200, 3)_
df_train = pd.read_csv(df_train, sep = ",") # (2935849, 6)
df_train['index'] = df_train.index
df_test['index'] = df_test.index

In [467]:
df_items = ("../files/items.csv")
df_item_categories = ("../files/item_categories.csv")
df_shops = ("../files/shops.csv")

df_items = pd.read_csv(df_items, sep = ",") #(214200, 3)
df_item_categories = pd.read_csv(df_item_categories, sep = ",") # (2935849, 6) 
df_shops = pd.read_csv(df_shops, sep = ",") #(214200, 3)

In [468]:
df_train.isnull().sum() #no null
df_test.isnull().sum() #no null

ID         0
shop_id    0
item_id    0
index      0
dtype: int64

In [469]:
df_train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,index
0,02.01.2013,0,59,22154,999.00,1.0,0
1,03.01.2013,0,25,2552,899.00,1.0,1
2,05.01.2013,0,25,2552,899.00,-1.0,2
3,06.01.2013,0,25,2554,1709.05,1.0,3
4,15.01.2013,0,25,2555,1099.00,1.0,4

In [470]:
df_test.head()

   ID  shop_id  item_id  index
0   0        5     5037      0
1   1        5     5320      1
2   2        5     5233      2
3   3        5     5232      3
4   4        5     5268      4

In [471]:
df_item_categories.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [472]:
df_items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

# Translate

- 물건 카테고리이름, 상점이름등은 해석한 뒤 큰 키워드를 기준으로 전처리


- 아이템명의 경우 약 20000개정도의 값, 불필요한 정보라 생각해 드롭.


- 데이터프레임끼리 merge 하며 편집, 아이템명은 드롭하지 않음

In [473]:
translator = Translator()
item_category_name_ko = pd.Series([str(translator.translate(category_name, dest = "ko").text) for category_name in df_item_categories.item_category_name])
df_item_categories.item_category_name = item_category_name_ko
df_item_categories.item_category_name


shop_name_ko = pd.Series([str(translator.translate(shop_nm, dest = "ko").text) for shop_nm in df_shops.shop_name])
df_shops.shop_name = shop_name_ko
df_shops.shop_name

0                        Yakutsk Ordzhonikidze, 56 프랑
1                                     야쿠 츠크 TC "중앙"프랑
2                                  아디 게아 쇼핑 센터 "Mega"
3                              발라 시카 TRK "10 월 키노 미르"
4            볼츠키 (Volzhsky) 쇼핑 센터 "볼가 몰 (Volga Mall)"
5                       볼 로그 다 쇼핑 및 엔터테인먼트 센터 "마멀레이드"
6                          보로 네즈 (Porkhanovskaya, 13)
7                                Voronezh TRC "막시 미르"
8                            Voronezh TRC 도시 공원 "졸업생"
9                                               외환 거래
10                          Zhukovsky Str. 차 칼로프 39m?
11                       Zhukovsky Str. Chkalov 39 m²
12                                       온라인 상점 비상 사태
13                                    카잔 TC "Bahetle"
14                                   카잔 TC "파크 하우스"II
15                                   칼루가 TRC "XXI 세기"
16                                          콜로세움 "리오"
17    크라스 노야 르 스크 (Krasnoyarsk) 쇼핑 센터 "Vzletka Plaza"
18             크라스 노야 르 스크 (Krasnoyarsk) 쇼핑 센터 "June"
19                               쿠르스크 TC "Pushkinsky"
20                                          모스크바 "판매"
21                              모스크바 MTRTS "Afi Mall"
22                                       모스크바 쇼핑몰 С21
23                      모스크바 TC "Budenovskiy"(pav.A2)
24                      모스크바 TC "Budenovskiy"(pav.K7)
25                                    모스크바 TRK "아트리움"
26                       모스크바 무역 센터 "Areal"(Belyaevo)
27                            모스크바 ТЦ "메가 벨라 야 다차 II"
28                           모스크바 ТЦ "메가 Teply 스탠"II에
29                          모스크바 TC "신세기"(Novokosino)
30                            모스크바 TP TPP "Perlovski"
31                              모스크바 ТЦ "Семеновский"
32                                모스크바 쇼핑 센터 "실버 하우스"
33                                Mytischi TRK "XL-3"
34                               N.Novgorod TRC "RIO"
35                         니즈니 노브 고로드 쇼핑몰 "Fantastic"
36                       노보시비르스크 TRC "갤러리 노보 시비 르 스크"
37                                    노보시비르스크 TC "메가"
38                                       옴 스크 TC "메가"
39               RostovNaDon TRK "Megacenter Horizon"
40        RostovNaDonu TRC "Megacenter Horizon"Island
41                               RostovNaDonu TC "메가"
42                                   SPb TC "넵 스키 센터"
43                                      SPb TK "센나 야"
44                                       사마라 TP "멜로디"
45                                    사마라 TC "파크 하우스"
46                               세르 기 예프 포사드 TC "7YA"
47                  Surgut 쇼핑 및 엔터테인먼트 센터 "City Mall"
48                                 톰 스크 SEC "에메랄드 시티"
49                                  Tyumen SEC "크리스탈"
50                                      튜멘 쇼핑 센터 "굿윈"
51                                   튜멘 쇼핑 센터 "그린 비치"
52                                         우파 TC "중부"
53                                        우파 TC "가족"2
54                                     Khimki ТЦ "메가"
55                                   디지털 창고 1C-Online
56                                     체 호프 SEC "카니발"
57                          Yakutsk Ordzhonikidze, 56
58                                    야쿠 츠크 센트럴 쇼핑 센터
59                             야로 슬라 블 쇼핑 센터 "Altair"
Name: shop_name, dtype: object

# Simplify Categories 
- item_category_name의 카테고리를 줄여주려 가장 넓은 범위 선택

In [474]:
def split_words(df_col_values):
    tokenized = [i.split(" ") for i in df_col_values]
    hangul = re.compile('[^ ㄱ-ㅣ가-힣]+') 
    
    for i in range(len(df_col_values)):
        df_col_values[i] = tokenized[i][0] if hangul.sub('',tokenized[i][0]) else "기타"
    return df_col_values

df_item_category= pd.DataFrame({"item_category_id" : df_item_categories.item_category_name.index, "new_item_category_name": split_words(df_item_categories.item_category_name.values)})
df_item_category

    item_category_id new_item_category_name
0                  0                     기타
1                  1                   액세서리
2                  2                   액세서리
3                  3                   액세서리
4                  4                   액세서리
5                  5                   액세서리
6                  6                   액세서리
7                  7                   액세서리
8                  8                     티켓
9                  9                     상품
10                10                     게임
11                11                     게임
12                12                     게임
13                13                     게임
14                14                     게임
15                15                     게임
16                16                     게임
17                17                     게임
18                18                     게임
19                19                     게임
20                20                     게임
21                21                     게임
22                22                     게임
23                23                     게임
24                24                     게임
25                25                     게임
26                26                     기타
27                27                     기타
28                28                     기타
29                29                     기타
..               ...                    ...
54                54                      책
55                55                     음악
56                56                     음악
57                57                     음악
58                58                     음악
59                59                     음악
60                60                     음악
61                61                     선물
62                62                     선물
63                63                     선물
64                64                     선물
65                65                     선물
66                66                     선물
67                67                     선물
68                68                     선물
69                69                     선물
70                70                     선물
71                71                     선물
72                72                     선물
73                73                   프로그램
74                74                   프로그램
75                75                   프로그램
76                76                   프로그램
77                77                   프로그램
78                78                   프로그램
79                79                    사무실
80                80                     공식
81                81                     클린
82                82                     클린
83                83                     음식

[84 rows x 2 columns]

# Add direction info

In [475]:
df_shops['direction'] = None
df_shops.loc[0:1,'direction'] = '동부'
df_shops.loc[20:33,'direction'] = '서부'
df_shops.loc[2,'direction'] = '서부'
df_shops.loc[3,'direction'] ='서부' 
df_shops.loc[4,'direction'] = '서부'
df_shops.loc[5,'direction'] = '서부'
df_shops.loc[6:8,'direction'] = '서부'
df_shops.loc[9,'direction'] = '기타'
df_shops.loc[10:11,'direction'] = '기타'
df_shops.loc[12,'direction'] = '기타'
df_shops.loc[13:14,'direction'] = '서부'
df_shops.loc[15,'direction'] = '서부'
df_shops.loc[16,'direction'] = '기타'
df_shops.loc[17:18,'direction'] = '중부'
df_shops.loc[34:35,'direction'] = '서부'
df_shops.loc[19,'direction'] = '서부'
df_shops.loc[36:37,'direction'] ='중부'
df_shops.loc[38,'direction']='중부'
df_shops.loc[39:41,'direction']='서부'
df_shops.loc[42:43,'direction']='서부'
df_shops.loc[44:45,'direction']='서부'
df_shops.loc[46,'direction']='서부'
df_shops.loc[47,'direction']='중부'
df_shops.loc[48,'direction']='중부'
df_shops.loc[49:51,'direction']='중부'
df_shops.loc[52:53,'direction']='서부'
df_shops.loc[54,'direction']='서부'
df_shops.loc[55:56,'direction']='기타'
df_shops.loc[57:58,'direction']= '동부'
df_shops.loc[59,'direction']='서부'
df_shops

                                          shop_name  shop_id direction
0                      Yakutsk Ordzhonikidze, 56 프랑        0        동부
1                                   야쿠 츠크 TC "중앙"프랑        1        동부
2                                아디 게아 쇼핑 센터 "Mega"        2        서부
3                            발라 시카 TRK "10 월 키노 미르"        3        서부
4          볼츠키 (Volzhsky) 쇼핑 센터 "볼가 몰 (Volga Mall)"        4        서부
5                     볼 로그 다 쇼핑 및 엔터테인먼트 센터 "마멀레이드"        5        서부
6                        보로 네즈 (Porkhanovskaya, 13)        6        서부
7                              Voronezh TRC "막시 미르"        7        서부
8                          Voronezh TRC 도시 공원 "졸업생"        8        서부
9                                             외환 거래        9        기타
10                        Zhukovsky Str. 차 칼로프 39m?       10        기타
11                     Zhukovsky Str. Chkalov 39 m²       11        기타
12                                     온라인 상점 비상 사태       12        기타
13                                  카잔 TC "Bahetle"       13        서부
14                                 카잔 TC "파크 하우스"II       14        서부
15                                 칼루가 TRC "XXI 세기"       15        서부
16                                        콜로세움 "리오"       16        기타
17  크라스 노야 르 스크 (Krasnoyarsk) 쇼핑 센터 "Vzletka Plaza"       17        중부
18           크라스 노야 르 스크 (Krasnoyarsk) 쇼핑 센터 "June"       18        중부
19                             쿠르스크 TC "Pushkinsky"       19        서부
20                                        모스크바 "판매"       20        서부
21                            모스크바 MTRTS "Afi Mall"       21        서부
22                                     모스크바 쇼핑몰 С21       22        서부
23                    모스크바 TC "Budenovskiy"(pav.A2)       23        서부
24                    모스크바 TC "Budenovskiy"(pav.K7)       24        서부
25                                  모스크바 TRK "아트리움"       25        서부
26                     모스크바 무역 센터 "Areal"(Belyaevo)       26        서부
27                          모스크바 ТЦ "메가 벨라 야 다차 II"       27        서부
28                         모스크바 ТЦ "메가 Teply 스탠"II에       28        서부
29                        모스크바 TC "신세기"(Novokosino)       29        서부
30                          모스크바 TP TPP "Perlovski"       30        서부
31                            모스크바 ТЦ "Семеновский"       31        서부
32                              모스크바 쇼핑 센터 "실버 하우스"       32        서부
33                              Mytischi TRK "XL-3"       33        서부
34                             N.Novgorod TRC "RIO"       34        서부
35                       니즈니 노브 고로드 쇼핑몰 "Fantastic"       35        서부
36                     노보시비르스크 TRC "갤러리 노보 시비 르 스크"       36        중부
37                                  노보시비르스크 TC "메가"       37        중부
38                                     옴 스크 TC "메가"       38        중부
39             RostovNaDon TRK "Megacenter Horizon"       39        서부
40      RostovNaDonu TRC "Megacenter Horizon"Island       40        서부
41                             RostovNaDonu TC "메가"       41        서부
42                                 SPb TC "넵 스키 센터"       42        서부
43                                    SPb TK "센나 야"       43        서부
44                                     사마라 TP "멜로디"       44        서부
45                                  사마라 TC "파크 하우스"       45        서부
46                             세르 기 예프 포사드 TC "7YA"       46        서부
47                Surgut 쇼핑 및 엔터테인먼트 센터 "City Mall"       47        중부
48                               톰 스크 SEC "에메랄드 시티"       48        중부
49                                Tyumen SEC "크리스탈"       49        중부
50                                    튜멘 쇼핑 센터 "굿윈"       50        중부
51                                 튜멘 쇼핑 센터 "그린 비치"       51        중부
52                                       우파 TC "중부"       52        서부
53                                      우파 TC "가족"2       53        서부
54                                   Khimki ТЦ "메가"       54        서부
55                                 디지털 창고 1C-Online       55        기타
56                                   체 호프 SEC "카니발"       56        기타
57                        Yakutsk Ordzhonikidze, 56       57        동부
58                                  야쿠 츠크 센트럴 쇼핑 센터       58        동부
59                           야로 슬라 블 쇼핑 센터 "Altair"       59        서부

# Merge & Drop

In [476]:
#아이템카테고리 id만 df_train,df_test에 존재 -> items + item_categories -> df_train + item_info
df_item_info = pd.merge(df_item_category, df_items, on = "item_category_id")
df_item_info.head(5)

,item_category_id,new_item_category_name,item_name,item_id
0,0,기타,PC: Гарнитура HyperX Cloud Core игровая стерео...,5441
1,0,기타,Наушники PHILIPS SBC HC8680,16255
2,0,기타,Наушники RITMIX RH-120,16256
3,0,기타,Наушники RITMIX RH-124 Black,16257
4,1,액세서리,PS2: Карта памяти 8 Мб черная (Memory Card 8Mb...,5606

In [477]:
del df_item_info["item_name"] #item_name의 데이터는 너무 방대함 -> 카테고리로 충분하다 판단

In [478]:
df_item_info.head(5)

   item_category_id new_item_category_name  item_id
0                 0                     기타     5441
1                 0                     기타    16255
2                 0                     기타    16256
3                 0                     기타    16257
4                 1                   액세서리     5606

In [479]:
df_train = pd.merge(df_train,df_item_info,on = "item_id")
df_test = pd.merge(df_test,df_item_info,on = "item_id")

In [480]:
del df_item_info
del df_item_categories
del df_items

In [481]:
df_train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,index,item_category_id,new_item_category_name
0,02.01.2013,0,59,22154,999.0,1.0,0,37,시네마
1,23.01.2013,0,24,22154,999.0,1.0,3270,37,시네마
2,20.01.2013,0,27,22154,999.0,1.0,17081,37,시네마
3,02.01.2013,0,25,22154,999.0,1.0,25918,37,시네마
4,03.01.2013,0,25,22154,999.0,1.0,25919,37,시네마

In [482]:
df_test.head()

      ID  shop_id  item_id  index  item_category_id new_item_category_name
0      0        5     5037      0                19                     게임
1   5100        4     5037   5100                19                     게임
2  10200        6     5037  10200                19                     게임
3  15300        3     5037  15300                19                     게임
4  20400        2     5037  20400                19                     게임

In [483]:
df_train = pd.merge(df_train, df_shops, on = "shop_id")
df_test = pd.merge(df_test, df_shops, on = "shop_id")
del df_shops

In [484]:
df_test.head()

,ID,shop_id,item_id,index,item_category_id,new_item_category_name,shop_name,direction
0,0,5,5037,0,19,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드""",서부
1,1,5,5320,1,55,음악,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드""",서부
2,2,5,5233,2,19,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드""",서부
3,3,5,5232,3,23,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드""",서부
4,4,5,5268,4,20,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드""",서부

In [485]:
df_train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,index,item_category_id,new_item_category_name,shop_name,direction
0,02.01.2013,0,59,22154,999.0,1.0,0,37,시네마,"야로 슬라 블 쇼핑 센터 ""Altair""",서부
1,16.05.2013,4,59,2573,249.0,1.0,498629,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",서부
2,26.01.2013,0,59,2574,399.0,1.0,77959,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",서부
3,09.01.2013,0,59,2574,399.0,1.0,77961,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",서부
4,24.02.2013,1,59,2574,399.0,1.0,133013,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",서부

# Direction To Shop Id

In [487]:
df_train["shop_id"] = df_train["direction"]
df_test["shop_id"] = df_test["direction"]
del df_test["direction"]
del df_train["direction"]

In [488]:
df_test

,ID,shop_id,item_id,index,item_category_id,new_item_category_name,shop_name
0,0,서부,5037,0,19,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
1,1,서부,5320,1,55,음악,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
2,2,서부,5233,2,19,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
3,3,서부,5232,3,23,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
4,4,서부,5268,4,20,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
5,5,서부,5039,5,23,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
6,6,서부,5041,6,20,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
7,7,서부,5046,7,55,음악,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
8,8,서부,5319,8,55,음악,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
9,9,서부,5003,9,20,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
10,10,서부,4806,10,30,기타,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
11,11,서부,4843,11,20,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
12,12,서부,4607,12,55,음악,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
13,13,서부,4869,13,22,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
14,14,서부,4870,14,23,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
15,15,서부,4872,15,19,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
16,16,서부,4874,16,72,선물,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
17,17,서부,4678,17,55,음악,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
18,18,서부,4892,18,30,기타,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
19,19,서부,4964,19,20,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
20,20,서부,4717,20,55,음악,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
21,21,서부,5002,21,19,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
22,22,서부,5823,22,35,지불,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
23,23,서부,5814,23,19,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
24,24,서부,5900,24,30,기타,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
25,25,서부,5907,25,20,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
26,26,서부,5908,26,23,게임,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
27,27,서부,5643,27,2,액세서리,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
28,28,서부,5657,28,3,액세서리,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
29,29,서부,5675,29,3,액세서리,"볼 로그 다 쇼핑 및 엔터테인먼트 센터 ""마멀레이드"""
...,...,...,...,...,...,...,...
214170,214170,서부,14543,214170,37,시네마,"사마라 TC ""파크 하우스"""
214171,214171,서부,19253,214171,30,기타,"사마라 TC ""파크 하우스"""
214172,214172,서부,17957,214172,38,시네마,"사마라 TC ""파크 하우스"""
214173,214173,서부,12470,214173,58,음악,"사마라 TC ""파크 하우스"""
214174,214174,서부,7543,214174,30,기타,"사마라 TC ""파크 하우스"""
214175,214175,서부,6661,214175,21,게임,"사마라 TC ""파크 하우스"""
214176,214176,서부,11137,214176,37,시네마,"사마라 TC ""파크 하우스"""
214177,214177,서부,11489,214177,40,영화,"사마라 TC ""파크 하우스"""
214178,214178,서부,9782,214178,38,시네마,"사마라 TC ""파크 하우스"""
214179,214179,서부,2972,214179,30,기타,"사마라 TC ""파크 하우스"""
214180,214180,서부,19889,214180,40,영화,"사마라 TC ""파크 하우스"""
214181,214181,서부,20650,214181,72,선물,"사마라 TC ""파크 하우스"""
214182,214182,서부,5665,214182,3,액세서리,"사마라 TC ""파크 하우스"""
214183,214183,서부,9978,214183,37,시네마,"사마라 TC ""파크 하우스"""
214184,214184,서부,10767,214184,37,시네마,"사마라 TC ""파크 하우스"""
214185,214185,서부,14443,214185,40,영화,"사마라 TC ""파크 하우스"""
214186,214186,서부,14341,214186,40,영화,"사마라 TC ""파크 하우스"""
214187,214187,서부,5401,214187,19,게임,"사마라 TC ""파크 하우스"""
214188,214188,서부,9500,214188,40,영화,"사마라 TC ""파크 하우스"""
214189,214189,서부,16007,214189,64,선물,"사마라 TC ""파크 하우스"""
214190,214190,서부,3280,214190,55,음악,"사마라 TC ""파크 하우스"""
214191,214191,서부,4393,214191,22,게임,"사마라 TC ""파크 하우스"""
214192,214192,서부,4352,214192,22,게임,"사마라 TC ""파크 하우스"""
214193,214193,서부,18049,214193,70,선물,"사마라 TC ""파크 하우스"""
214194,214194,서부,18027,214194,70,선물,"사마라 TC ""파크 하우스"""
214195,214195,서부,18454,214195,55,음악,"사마라 TC ""파크 하우스"""
214196,214196,서부,16188,214196,64,선물,"사마라 TC ""파크 하우스"""
214197,214197,서부,15757,214197,55,음악,"사마라 TC ""파크 하우스"""
214198,214198,서부,19648,214198,40,영화,"사마라 TC ""파크 하우스"""
214199,214199,서부,969,214199,37,시네마,"사마라 TC ""파크 하우스"""

In [489]:
df_train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,index,item_category_id,new_item_category_name,shop_name
0,02.01.2013,0,서부,22154,999.0,1.0,0,37,시네마,"야로 슬라 블 쇼핑 센터 ""Altair"""
1,16.05.2013,4,서부,2573,249.0,1.0,498629,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
2,26.01.2013,0,서부,2574,399.0,1.0,77959,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
3,09.01.2013,0,서부,2574,399.0,1.0,77961,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
4,24.02.2013,1,서부,2574,399.0,1.0,133013,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
5,29.03.2013,2,서부,2574,399.0,1.0,334238,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
6,19.07.2013,6,서부,2574,399.0,1.0,706298,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
7,03.07.2013,6,서부,2574,399.0,1.0,706299,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
8,06.07.2013,6,서부,2574,399.0,1.0,706307,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
9,28.08.2013,7,서부,2574,399.0,1.0,736350,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
10,12.08.2013,7,서부,2574,399.0,1.0,736403,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
11,06.09.2013,8,서부,2574,399.0,1.0,921243,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
12,26.10.2013,9,서부,2574,399.0,1.0,995622,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
13,28.12.2013,11,서부,2574,399.0,1.0,1219184,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
14,24.12.2013,11,서부,2574,399.0,1.0,1219186,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
15,02.12.2013,11,서부,2574,399.0,1.0,1219193,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
16,04.01.2014,12,서부,2574,399.0,1.0,1281864,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
17,12.07.2014,18,서부,2574,399.0,1.0,1840122,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
18,03.09.2014,20,서부,2574,399.0,1.0,2019280,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
19,03.10.2014,21,서부,2574,399.0,1.0,2073080,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
20,26.11.2014,22,서부,2574,399.0,1.0,2111591,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
21,09.11.2014,22,서부,2574,399.0,1.0,2111593,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
22,13.03.2015,26,서부,2574,449.0,1.0,2507278,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
23,13.07.2015,30,서부,2574,449.0,1.0,2722313,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
24,27.03.2013,2,서부,2607,279.0,1.0,334261,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
25,23.06.2013,5,서부,2607,299.0,1.0,612199,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
26,02.07.2013,6,서부,2607,299.0,1.0,706280,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
27,04.10.2013,9,서부,2607,299.0,1.0,995623,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
28,13.10.2013,9,서부,2607,239.2,1.0,995624,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
29,26.10.2013,9,서부,2607,299.0,1.0,995625,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair"""
...,...,...,...,...,...,...,...,...,...,...
2935819,27.10.2015,33,기타,189,99.0,1.0,2905275,44,책,디지털 창고 1C-Online
2935820,27.10.2015,33,기타,190,99.0,1.0,2905276,44,책,디지털 창고 1C-Online
2935821,27.10.2015,33,기타,192,99.0,1.0,2905278,44,책,디지털 창고 1C-Online
2935822,27.10.2015,33,기타,193,99.0,1.0,2905279,44,책,디지털 창고 1C-Online
2935823,27.10.2015,33,기타,194,99.0,1.0,2905280,44,책,디지털 창고 1C-Online
2935824,27.10.2015,33,기타,201,80.0,1.0,2905282,44,책,디지털 창고 1C-Online
2935825,27.10.2015,33,기타,188,99.0,1.0,2905283,44,책,디지털 창고 1C-Online
2935826,16.10.2015,33,기타,208,172.0,1.0,2905284,44,책,디지털 창고 1C-Online
2935827,27.10.2015,33,기타,245,100.0,1.0,2905285,44,책,디지털 창고 1C-Online
2935828,02.10.2015,33,기타,364,149.0,1.0,2905287,44,책,디지털 창고 1C-Online
2935829,31.10.2015,33,기타,229,80.0,1.0,2905294,44,책,디지털 창고 1C-Online
2935830,27.10.2015,33,기타,187,99.0,1.0,2905295,44,책,디지털 창고 1C-Online
2935831,27.10.2015,33,기타,186,100.0,1.0,2905296,44,책,디지털 창고 1C-Online
2935832,23.10.2015,33,기타,186,100.0,1.0,2905297,44,책,디지털 창고 1C-Online
2935833,27.10.2015,33,기타,146,110.0,1.0,2905306,44,책,디지털 창고 1C-Online
2935834,27.10.2015,33,기타,147,110.0,1.0,2905307,44,책,디지털 창고 1C-Online
2935835,27.10.2015,33,기타,159,110.0,1.0,2905310,44,책,디지털 창고 1C-Online
2935836,23.10.2015,33,기타,174,80.0,1.0,2905312,44,책,디지털 창고 1C-Online
2935837,27.10.2015,33,기타,181,100.0,1.0,2905313,44,책,디지털 창고 1C-Online
2935838,12.10.2015,33,기타,182,100.0,1.0,2905314,44,책,디지털 창고 1C-Online
2935839,27.10.2015,33,기타,182,100.0,1.0,2905315,44,책,디지털 창고 1C-Online
2935840,27.10.2015,33,기타,183,99.0,1.0,2905316,44,책,디지털 창고 1C-Online
2935841,27.10.2015,33,기타,184,99.0,1.0,2905317,44,책,디지털 창고 1C-Online
2935842,27.10.2015,33,기타,185,99.0,1.0,2905318,44,책,디지털 창고 1C-Online
2935843,20.10.2015,33,기타,2736,399.0,1.0,2905400,31,기타,디지털 창고 1C-Online
2935844,28.10.2015,33,기타,1819,1499.0,3.0,2905489,31,기타,디지털 창고 1C-Online
2935845,29.10.2015,33,기타,1819,1499.0,1.0,2905490,31,기타,디지털 창고 1C-Online
2935846,24.10.2015,33,기타,2390,99.0,1.0,2905530,31,기타,디지털 창고 1C-Online
2935847,01.10.2015,33,기타,1935,249.0,1.0,2905546,31,기타,디지털 창고 1C-Online
2935848,17.10.2015,33,기타,2066,199.0,1.0,2905558,31,기타,디지털 창고 1C-Online

# Price Rank Per Shops and Items

- 가격정보를 명목형 값으로 해석, 최소화해야한다는 생각을 하였다.


- 한 아이템내의 가격을 sort 한 뒤 오름차순으로 등수를 매겼다.


- 그 후 한 아이템내에서 상대적인 가격 이라는 정보를 가진 컬럼이 생김

In [490]:
df_grouped = df_train.groupby(["shop_id","item_category_id","item_id"])["item_price"].apply(list)
#같은 제품에 있는 가격들을 list로 묶음
ranked_price_mat = []
for price_list in df_grouped.values:
    ranked_price_dict = {}
    ranked_price = {price : no  for no,price in enumerate(sorted(np.unique(price_list)))}
    ranked_price_dict.update(ranked_price)
    ranked_price_mat.append(ranked_price_dict)
    
    
# 가격에 따라 enumerate로 등수를 매김, 현재 가격과 등수가 각각 dict값의 키와 밸류로 저장되어있음

for value_no in range(len(df_grouped.values)): 
    for index in range(len(df_grouped.values[value_no])):
        df_grouped.values[value_no][index] = ranked_price_mat[value_no][df_grouped.values[value_no][index]]
del ranked_price_mat
del ranked_price_dict
    #df_grouped에 변경사항 반영

df_get_back = df_train.groupby(["shop_id","item_category_id","item_id"])["index"].apply(list)
get_back_dict = {}
for value_no in range(len(df_grouped.values)): 
    for index in range(len(df_grouped.values[value_no])):
        get_back_dict.update({df_get_back.values[value_no][index] : df_grouped.values[value_no][index]+1})
        
    #item_price를 원래대로 돌리기 위해 index값을 똑같이 묶은 뒤 딕트타입으로 키값에 인덱스번호를 부여
    #그리고 enumerate한 등수가 0이되지 않도록 1을 더해줌. {인덱스값 : 가격} 형태의 딕트 완성
del df_grouped       
df_ranked = pd.DataFrame(list(get_back_dict.items()),columns=['index','new_item_price'])
df_ranked = pd.merge(df_train,df_ranked, on = "index")

In [491]:
df_ranked

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,index,item_category_id,new_item_category_name,shop_name,new_item_price
0,02.01.2013,0,서부,22154,999.0,1.0,0,37,시네마,"야로 슬라 블 쇼핑 센터 ""Altair""",2
1,16.05.2013,4,서부,2573,249.0,1.0,498629,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",2
2,26.01.2013,0,서부,2574,399.0,1.0,77959,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
3,09.01.2013,0,서부,2574,399.0,1.0,77961,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
4,24.02.2013,1,서부,2574,399.0,1.0,133013,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
5,29.03.2013,2,서부,2574,399.0,1.0,334238,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
6,19.07.2013,6,서부,2574,399.0,1.0,706298,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
7,03.07.2013,6,서부,2574,399.0,1.0,706299,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
8,06.07.2013,6,서부,2574,399.0,1.0,706307,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
9,28.08.2013,7,서부,2574,399.0,1.0,736350,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
10,12.08.2013,7,서부,2574,399.0,1.0,736403,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
11,06.09.2013,8,서부,2574,399.0,1.0,921243,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
12,26.10.2013,9,서부,2574,399.0,1.0,995622,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
13,28.12.2013,11,서부,2574,399.0,1.0,1219184,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
14,24.12.2013,11,서부,2574,399.0,1.0,1219186,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
15,02.12.2013,11,서부,2574,399.0,1.0,1219193,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
16,04.01.2014,12,서부,2574,399.0,1.0,1281864,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
17,12.07.2014,18,서부,2574,399.0,1.0,1840122,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
18,03.09.2014,20,서부,2574,399.0,1.0,2019280,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
19,03.10.2014,21,서부,2574,399.0,1.0,2073080,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
20,26.11.2014,22,서부,2574,399.0,1.0,2111591,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
21,09.11.2014,22,서부,2574,399.0,1.0,2111593,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
22,13.03.2015,26,서부,2574,449.0,1.0,2507278,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",15
23,13.07.2015,30,서부,2574,449.0,1.0,2722313,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",15
24,27.03.2013,2,서부,2607,279.0,1.0,334261,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",8
25,23.06.2013,5,서부,2607,299.0,1.0,612199,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
26,02.07.2013,6,서부,2607,299.0,1.0,706280,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
27,04.10.2013,9,서부,2607,299.0,1.0,995623,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
28,13.10.2013,9,서부,2607,239.2,1.0,995624,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",7
29,26.10.2013,9,서부,2607,299.0,1.0,995625,55,음악,"야로 슬라 블 쇼핑 센터 ""Altair""",14
...,...,...,...,...,...,...,...,...,...,...,...
2935819,27.10.2015,33,기타,189,99.0,1.0,2905275,44,책,디지털 창고 1C-Online,1
2935820,27.10.2015,33,기타,190,99.0,1.0,2905276,44,책,디지털 창고 1C-Online,1
2935821,27.10.2015,33,기타,192,99.0,1.0,2905278,44,책,디지털 창고 1C-Online,1
2935822,27.10.2015,33,기타,193,99.0,1.0,2905279,44,책,디지털 창고 1C-Online,1
2935823,27.10.2015,33,기타,194,99.0,1.0,2905280,44,책,디지털 창고 1C-Online,1
2935824,27.10.2015,33,기타,201,80.0,1.0,2905282,44,책,디지털 창고 1C-Online,1
2935825,27.10.2015,33,기타,188,99.0,1.0,2905283,44,책,디지털 창고 1C-Online,1
2935826,16.10.2015,33,기타,208,172.0,1.0,2905284,44,책,디지털 창고 1C-Online,1
2935827,27.10.2015,33,기타,245,100.0,1.0,2905285,44,책,디지털 창고 1C-Online,1
2935828,02.10.2015,33,기타,364,149.0,1.0,2905287,44,책,디지털 창고 1C-Online,1
2935829,31.10.2015,33,기타,229,80.0,1.0,2905294,44,책,디지털 창고 1C-Online,1
2935830,27.10.2015,33,기타,187,99.0,1.0,2905295,44,책,디지털 창고 1C-Online,1
2935831,27.10.2015,33,기타,186,100.0,1.0,2905296,44,책,디지털 창고 1C-Online,1
2935832,23.10.2015,33,기타,186,100.0,1.0,2905297,44,책,디지털 창고 1C-Online,1
2935833,27.10.2015,33,기타,146,110.0,1.0,2905306,44,책,디지털 창고 1C-Online,1
2935834,27.10.2015,33,기타,147,110.0,1.0,2905307,44,책,디지털 창고 1C-Online,1
2935835,27.10.2015,33,기타,159,110.0,1.0,2905310,44,책,디지털 창고 1C-Online,1
2935836,23.10.2015,33,기타,174,80.0,1.0,2905312,44,책,디지털 창고 1C-Online,1
2935837,27.10.2015,33,기타,181,100.0,1.0,2905313,44,책,디지털 창고 1C-Online,1
2935838,12.10.2015,33,기타,182,100.0,1.0,2905314,44,책,디지털 창고 1C-Online,1
2935839,27.10.2015,33,기타,182,100.0,1.0,2905315,44,책,디지털 창고 1C-Online,1
2935840,27.10.2015,33,기타,183,99.0,1.0,2905316,44,책,디지털 창고 1C-Online,1
2935841,27.10.2015,33,기타,184,99.0,1.0,2905317,44,책,디지털 창고 1C-Online,1
2935842,27.10.2015,33,기타,185,99.0,1.0,2905318,44,책,디지털 창고 1C-Online,1
2935843,20.10.2015,33,기타,2736,399.0,1.0,2905400,31,기타,디지털 창고 1C-Online,1
2935844,28.10.2015,33,기타,1819,1499.0,3.0,2905489,31,기타,디지털 창고 1C-Online,1
2935845,29.10.2015,33,기타,1819,1499.0,1.0,2905490,31,기타,디지털 창고 1C-Online,1
2935846,24.10.2015,33,기타,2390,99.0,1.0,2905530,31,기타,디지털 창고 1C-Online,1
2935847,01.10.2015,33,기타,1935,249.0,1.0,2905546,31,기타,디지털 창고 1C-Online,1
2935848,17.10.2015,33,기타,2066,199.0,1.0,2905558,31,기타,디지털 창고 1C-Online,1

In [492]:
df_ranked.isnull().sum()

date                      0
date_block_num            0
shop_id                   0
item_id                   0
item_price                0
item_cnt_day              0
index                     0
item_category_id          0
new_item_category_name    0
shop_name                 0
new_item_price            0
dtype: int64

# Apply STD

- 아이템의 상대적인 가격정보컬럼으로 가격변동이 큰 가게인지, 가격변동이 작은 가게인지 유추

In [493]:
df_std_price_rank_shop = df_ranked_light.groupby(["shop_name"], as_index = True)["new_item_price"].std() #null 0
df_price_rank_per_shop = pd.DataFrame({"shop_name" : df_std_price_rank_shop.index, "std_price_rank_shop" : df_std_price_rank_shop.values})

df_std_price_rank_item = df_ranked_light.groupby(["new_item_category_name"], as_index = True)["new_item_price"].std().fillna(0) #null 2 mode 0
df_price_rank_per_item = pd.DataFrame({"new_item_category_name" :df_std_price_rank_item.index, "std_price_rank_item" : df_std_price_rank_item.values})

In [494]:
df_price_rank_per_item.head()

  new_item_category_name  std_price_rank_item
0                     게임            22.385881
1                     공식             0.600003
2                     기타            23.587663
3                     도서             1.877945
4                    사무실           430.590140

In [495]:
df_price_rank_per_shop.head()

                              shop_name  std_price_rank_shop
0                        Khimki ТЦ "메가"            32.252748
1                   Mytischi TRK "XL-3"            81.080647
2                  N.Novgorod TRC "RIO"            98.453609
3  RostovNaDon TRK "Megacenter Horizon"            74.750293
4                  RostovNaDonu TC "메가"            47.061304

In [496]:
df_train = pd.merge(df_price_rank_per_item, df_train, on = "new_item_category_name")
df_train = pd.merge(df_price_rank_per_shop, df_train, on = "shop_name")

In [497]:
df_test = pd.merge(df_price_rank_per_item, df_test, on = "new_item_category_name")
df_test= pd.merge(df_price_rank_per_shop, df_test, on = "shop_name")

In [498]:
del df_price_rank_per_item
del df_price_rank_per_shop
del df_train["shop_name"]
del df_test["shop_name"]

del df_test["index"]
del df_train["index"]

del df_train["item_category_id"]
del df_test["item_category_id"]

del df_train["item_price"]
del df_train["date"]

In [499]:
df_train.head()

,std_price_rank_shop,new_item_category_name,std_price_rank_item,date_block_num,shop_id,item_id,item_cnt_day
0,32.252748,게임,22.385881,0,서부,2705,1.0
1,32.252748,게임,22.385881,2,서부,2705,1.0
2,32.252748,게임,22.385881,2,서부,2705,1.0
3,32.252748,게임,22.385881,3,서부,2705,1.0
4,32.252748,게임,22.385881,4,서부,2705,1.0

In [500]:
df_train.isnull().sum()

std_price_rank_shop       0
new_item_category_name    0
std_price_rank_item       0
date_block_num            0
shop_id                   0
item_id                   0
item_cnt_day              0
dtype: int64

In [501]:
df_test.head()

,std_price_rank_shop,new_item_category_name,std_price_rank_item,ID,shop_id,item_id
0,98.453609,게임,22.385881,183600,서부,5037
1,98.453609,게임,22.385881,183602,서부,5233
2,98.453609,게임,22.385881,183603,서부,5232
3,98.453609,게임,22.385881,183604,서부,5268
4,98.453609,게임,22.385881,183605,서부,5039

In [502]:
df_test.isnull().sum()

std_price_rank_shop       0
new_item_category_name    0
std_price_rank_item       0
ID                        0
shop_id                   0
item_id                   0
dtype: int64

# Processing ,Grouping

In [503]:
df_test["date_block_num"] = 34 #2015 november
df_test.head()

,std_price_rank_shop,new_item_category_name,std_price_rank_item,ID,shop_id,item_id,date_block_num
0,98.453609,게임,22.385881,183600,서부,5037,34
1,98.453609,게임,22.385881,183602,서부,5233,34
2,98.453609,게임,22.385881,183603,서부,5232,34
3,98.453609,게임,22.385881,183604,서부,5268,34
4,98.453609,게임,22.385881,183605,서부,5039,34

In [504]:
df_train = df_train.groupby(["date_block_num","shop_id","new_item_category_name","std_price_rank_shop","std_price_rank_item","item_id"])["item_cnt_day"].mean().to_frame().reset_index()
df_train["item_cnt_month"] = None
df_train["item_cnt_month"] = df_train["item_cnt_day"]
del df_train["item_cnt_day"]

In [505]:
df_train.head()

,date_block_num,shop_id,new_item_category_name,std_price_rank_shop,std_price_rank_item,item_id,item_cnt_month
0,0,기타,게임,4.841655,22.385881,27,1.000000
1,0,기타,게임,4.841655,22.385881,1397,1.000000
2,0,기타,게임,4.841655,22.385881,1455,1.000000
3,0,기타,게임,4.841655,22.385881,1471,1.333333
4,0,기타,게임,4.841655,22.385881,1472,1.000000

In [506]:
df_test.head()

,std_price_rank_shop,new_item_category_name,std_price_rank_item,ID,shop_id,item_id,date_block_num
0,98.453609,게임,22.385881,183600,서부,5037,34
1,98.453609,게임,22.385881,183602,서부,5233,34
2,98.453609,게임,22.385881,183603,서부,5232,34
3,98.453609,게임,22.385881,183604,서부,5268,34
4,98.453609,게임,22.385881,183605,서부,5039,34

In [507]:
df_train.isnull().sum()

date_block_num            0
shop_id                   0
new_item_category_name    0
std_price_rank_shop       0
std_price_rank_item       0
item_id                   0
item_cnt_month            0
dtype: int64

In [508]:
df_test.isnull().sum()

std_price_rank_shop       0
new_item_category_name    0
std_price_rank_item       0
ID                        0
shop_id                   0
item_id                   0
date_block_num            0
dtype: int64

In [509]:
df_train.columns

Index(['date_block_num', 'shop_id', 'new_item_category_name',
       'std_price_rank_shop', 'std_price_rank_item', 'item_id',
       'item_cnt_month'],
      dtype='object')

In [510]:
df_test.columns

Index(['std_price_rank_shop', 'new_item_category_name', 'std_price_rank_item',
       'ID', 'shop_id', 'item_id', 'date_block_num'],
      dtype='object')

In [511]:
y_data = df_train.pop("item_cnt_month")
ID = df_test.pop("ID")
x_data = df_train
x_predict = df_test
len(x_predict),len(x_data)

(214200, 1609124)

In [512]:
df_all = pd.concat([x_data,x_predict])
df_all #null = 0

,date_block_num,item_id,new_item_category_name,shop_id,std_price_rank_item,std_price_rank_shop
0,0,27,게임,기타,22.385881,4.841655
1,0,1397,게임,기타,22.385881,4.841655
2,0,1455,게임,기타,22.385881,4.841655
3,0,1471,게임,기타,22.385881,4.841655
4,0,1472,게임,기타,22.385881,4.841655
5,0,1481,게임,기타,22.385881,4.841655
6,0,1523,게임,기타,22.385881,4.841655
7,0,1596,게임,기타,22.385881,4.841655
8,0,1833,게임,기타,22.385881,4.841655
9,0,1836,게임,기타,22.385881,4.841655
10,0,1870,게임,기타,22.385881,4.841655
11,0,1932,게임,기타,22.385881,4.841655
12,0,2302,게임,기타,22.385881,4.841655
13,0,2304,게임,기타,22.385881,4.841655
14,0,2307,게임,기타,22.385881,4.841655
15,0,2309,게임,기타,22.385881,4.841655
16,0,2804,게임,기타,22.385881,4.841655
17,0,2845,게임,기타,22.385881,4.841655
18,0,2846,게임,기타,22.385881,4.841655
19,0,2920,게임,기타,22.385881,4.841655
20,0,2948,게임,기타,22.385881,4.841655
21,0,2953,게임,기타,22.385881,4.841655
22,0,2973,게임,기타,22.385881,4.841655
23,0,2974,게임,기타,22.385881,4.841655
24,0,3056,게임,기타,22.385881,4.841655
25,0,3076,게임,기타,22.385881,4.841655
26,0,3265,게임,기타,22.385881,4.841655
27,0,3320,게임,기타,22.385881,4.841655
28,0,3321,게임,기타,22.385881,4.841655
29,0,3323,게임,기타,22.385881,4.841655
...,...,...,...,...,...,...
214170,34,856,프로그램,중부,15.284862,12.148568
214171,34,849,프로그램,중부,15.284862,12.148568
214172,34,846,프로그램,중부,15.284862,12.148568
214173,34,843,프로그램,중부,15.284862,12.148568
214174,34,842,프로그램,중부,15.284862,12.148568
214175,34,841,프로그램,중부,15.284862,12.148568
214176,34,4217,프로그램,중부,15.284862,12.148568
214177,34,4198,프로그램,중부,15.284862,12.148568
214178,34,4142,프로그램,중부,15.284862,12.148568
214179,34,3867,프로그램,중부,15.284862,12.148568
214180,34,4144,프로그램,중부,15.284862,12.148568
214181,34,4192,프로그램,중부,15.284862,12.148568
214182,34,4191,프로그램,중부,15.284862,12.148568
214183,34,4188,프로그램,중부,15.284862,12.148568
214184,34,4187,프로그램,중부,15.284862,12.148568
214185,34,4184,프로그램,중부,15.284862,12.148568
214186,34,4183,프로그램,중부,15.284862,12.148568
214187,34,4179,프로그램,중부,15.284862,12.148568
214188,34,4173,프로그램,중부,15.284862,12.148568
214189,34,4145,프로그램,중부,15.284862,12.148568
214190,34,4203,프로그램,중부,15.284862,12.148568
214191,34,3156,프로그램,중부,15.284862,12.148568
214192,34,3150,프로그램,중부,15.284862,12.148568
214193,34,3139,프로그램,중부,15.284862,12.148568
214194,34,3136,프로그램,중부,15.284862,12.148568
214195,34,3134,프로그램,중부,15.284862,12.148568
214196,34,3219,프로그램,중부,15.284862,12.148568
214197,34,3002,프로그램,중부,15.284862,12.148568
214198,34,2987,프로그램,중부,15.284862,12.148568
214199,34,12216,프로그램,중부,15.284862,12.148568

In [513]:
df_all = pd.get_dummies(df_all)
df_all.head()

,date_block_num,item_id,std_price_rank_item,std_price_rank_shop,new_item_category_name_게임,new_item_category_name_공식,new_item_category_name_기타,new_item_category_name_도서,new_item_category_name_사무실,new_item_category_name_상품,...,new_item_category_name_음악,new_item_category_name_지불,new_item_category_name_책,new_item_category_name_클린,new_item_category_name_티켓,new_item_category_name_프로그램,shop_id_기타,shop_id_동부,shop_id_서부,shop_id_중부
0,0,27,22.385881,4.841655,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,1397,22.385881,4.841655,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,1455,22.385881,4.841655,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,1471,22.385881,4.841655,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,1472,22.385881,4.841655,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [514]:
x_data = df_all.iloc[:1609124,:]
x_predict = df_all.iloc[1609124:,:]
y_data = y_data.reshape(-1,1)
x_data.shape,y_data.shape

/home/hyuna/anaconda3/envs/deep_learning_study/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  This is separate from the ipykernel package so we can avoid doing imports until

((1609124, 25), (1609124, 1))

In [515]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
x_data = min_max_scaler.fit_transform(x_data)
x_predict = min_max_scaler.fit_transform(x_predict)
df_all = min_max_scaler.fit_transform(df_all)

In [516]:
df_all

array([[0.        , 0.00121792, 0.05066599, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.06301592, 0.05066599, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.06563219, 0.05066599, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [1.        , 0.13541432, 0.03415162, ..., 0.        , 0.        ,
        1.        ],
       [1.        , 0.1347377 , 0.03415162, ..., 0.        , 0.        ,
        1.        ],
       [1.        , 0.55103974, 0.03415162, ..., 0.        , 0.        ,
        1.        ]])

# Predict

In [517]:
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score

x_data = df_all[:1609124,:]
x_predict = df_all[1609124:,:]

x_train,x_test = x_data[0:round(len(x_data)*0.8)],x_data[round(len(x_data)*0.8):]
y_train,y_test = y_data[0:round(len(y_data)*0.8)],y_data[round(len(y_data)*0.8):] 

regr =linear_model.LinearRegression()
regr.fit(x_train, y_train)
y_pred = regr.predict(x_test)

print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(y_test, y_pred))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(y_test, y_pred))

Coefficients:
 [[ 3.52069443e-02  8.40933454e-03  2.73944687e+10 -8.70001597e-03
   4.48484719e+10  5.70011248e+09  4.47719069e+10  4.61550228e+10
   1.88419712e+10  3.93815976e+10  4.51754731e+10  4.54324292e+10
   4.56680864e+10  4.59917388e+10  4.60606526e+10  4.61089812e+10
   4.52329100e+10  4.61375875e+10  4.62052131e+10  4.61110346e+10
   4.53008745e+10  7.70123547e+11  7.70123547e+11  7.70123547e+11
   7.70123547e+11]]
Mean squared error: 1521546694800651264.00
Variance score: -1295014412295829504.00

In [520]:
regr.predict(x_predict)

array([[1.11828613],
       [1.11828613],
       [1.11828613],
       ...,
       [1.05908203],
       [1.05908203],
       [1.06262207]])

# Submission

In [528]:
y = pd.DataFrame(regr.predict(x_predict), index= ID,columns={"item_cnt_month":0})
y

        item_cnt_month
ID
183600        1.118286
183602        1.118286
183603        1.118286
183604        1.118408
183605        1.118286
183606        1.118286
183609        1.118286
183611        1.118164
183613        1.118164
183614        1.118164
183615        1.118164
183619        1.118286
183621        1.118286
183623        1.118530
183625        1.118652
183626        1.118652
183656        1.117676
183657        1.117676
183658        1.117676
183659        1.117676
183660        1.117676
183661        1.117676
183662        1.117676
183666        1.117798
183667        1.117798
183668        1.117798
183669        1.117798
183671        1.117676
183672        1.117676
183675        1.117676
...                ...
111699        1.058350
111700        1.058350
111701        1.058350
111702        1.058350
111703        1.058350
111704        1.058350
111751        1.059570
111752        1.059570
111753        1.059570
111755        1.059448
111760        1.059570
111761        1.059570
111762        1.059570
111763        1.059570
111764        1.059570
111765        1.059570
111766        1.059570
111767        1.059570
111768        1.059570
111769        1.059570
111770        1.059570
111827        1.059204
111828        1.059204
111829        1.059204
111830        1.059204
111831        1.059204
111832        1.059204
111833        1.059082
111834        1.059082
112097        1.062622

[214200 rows x 1 columns]

In [529]:
y.to_csv("submission_team2",sep = ",")